#auth .container {
  padding: 3rem 1rem;
}
#auth .main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth .hero-image {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth .image_container {
  overflow: visible;
  max-width: 30rem;
}
#auth .image_container:hover img {
  transform: none;
}
#auth .card {
  width: 100%;
  max-width: 25rem;
  background-color: var(--clr5);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#auth .section_heading {
  text-align: center;
}
#auth .error_message {
  font-size: 0.9rem;
  color: crimson;
}
#auth .auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#auth .form-group {
  display: flex;
  flex-direction: column;
}
#auth label {
  font-size: 0.8rem;
  font-weight: 600;
}
#auth input {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.3rem 0.5rem;
  outline: none;
  border: 1px solid var(--clr1);
  border-radius: 0.3rem;
}
#auth input:hover,
#auth input:focus {
  border-color: var(--clr2);
}
#auth .password-field {
  position: relative;
}
#auth .eye-toggle {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--clr1);
}
#auth .password-field input[type="password"] {
  padding-right: 3rem;
}
#auth .password-field .eye-toggle.active {
  color: var(--clr2);
}
#auth .captcha {
  background-color: var(--clr4);
  color: var(--clr2);
  margin-top: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 500;
}
#auth .btn {
  margin-top: 1rem;
}
#auth .redirect {
  font-size: 0.9rem;
  text-align: center;
}
#auth .redirect a {
  color: var(--clr2);
  font-weight: 500;
}

/* auth cta */
.auth-cta {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-cta .cta-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(0.7);
}
.auth-cta .content {
  width: 100%;
  max-width: 50rem;
  /* background-color: #0000004a; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.auth-cta .cta-heading {
  color: var(--clr5);
  font-size: 2rem;
  font-weight: 600;
}
.auth-cta .cta-para {
  color: var(--clr5);
  font-size: 1.2rem;
  font-weight: 600;
}
.auth-cta .cta-button {
  background-color: var(--clr5);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .auth-cta .cta-heading {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .auth-cta .cta-para {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .auth-cta .cta-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
  }
}
@media only screen and (max-width: 650px) {
  #auth .row {
    flex-direction: column;
  }
  #auth .image_container {
    max-width: 15rem;
  }
}

/* woocommerce my account page */
.my-account {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* nav bar */
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.woocommerce-MyAccount-navigation li a {
  background-color: var(--clr5);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  transition: 0.3s ease;
  border: 1px solid var(--clr5);
  text-transform: capitalize;
}
.woocommerce-MyAccount-navigation li a:hover {
  border-color: var(--clr2);
  color: var(--clr2);
}
.woocommerce-MyAccount-navigation li.is-active a {
  background-color: var(--clr2);
  color: var(--clr5);
  border-color: var(--clr2);
}
.woocommerce-MyAccount-navigation-link--downloads {
  display: none;
}
.woocommerce-MyAccount-navigation-link--customer-logout a {
  border-color: crimson !important;
  color: crimson !important;
}
.woocommerce-MyAccount-navigation-link--customer-logout a:hover,
.woocommerce-MyAccount-navigation-link--customer-logout a:focus,
.woocommerce-MyAccount-navigation-link--customer-logout a:active {
  background-color: crimson !important;
  color: whitesmoke !important;
}
/* dashboard */
.my-account p {
  font-size: 0.9rem;
}
.my-account p a {
  color: var(--clr2);
}
.my-account p a:hover {
  text-decoration: underline;
}
/* orders */
.my-account .woocommerce-MyAccount-orders {
  text-align: center;
  font-size: 0.9rem;
  background-color: var(--clr5);
  border-radius: 0.5rem;
  border-collapse: collapse;
}
.my-account .woocommerce-MyAccount-orders th {
  font-weight: 600;
  border-bottom: 1px solid var(--clr4);
  padding: 0.5rem 0.3rem;
}
.my-account .woocommerce-MyAccount-orders td {
  padding: 0.3rem 0.3rem;
}
.my-account .woocommerce-MyAccount-orders a {
  color: var(--clr2);
}
.my-account .woocommerce-MyAccount-orders a:hover,
.my-account .woocommerce-MyAccount-orders a:focus {
  text-decoration: underline;
}
/* order details */
.my-account p mark {
  background-color: var(--clr3);
}
.my-account .woocommerce-order-details,
.my-account .woocommerce-customer-details {
  background-color: var(--clr5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.my-account .woocommerce-order-details__title,
.my-account .woocommerce-column__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.my-account .woocommerce-table--order-details {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
}
.my-account .woocommerce-table--order-details th {
  font-weight: 600;
  vertical-align: middle;
}
.my-account .woocommerce-table__product-name {
  height: fit-content !important;
}
.my-account .woocommerce-table__line-item td {
  margin: 0.5rem 0;
}
.my-account .woocommerce-customer-details address {
  font-size: 0.9rem;
  font-weight: 500;
}
/* addresses */
.my-account .addresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.my-account .woocommerce-Address {
  background-color: var(--clr5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.my-account .woocommerce-Address-title h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.my-account .woocommerce-Address-title .edit {
  float: right;
  margin-top: -2rem;
  background-color: var(--clr2);
  color: var(--clr5);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.my-account .woocommerce-Address address {
  font-size: 0.9rem;
  font-weight: 500;
}
/* edit address */
.my-account form {
  background-color: var(--clr5);
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
}
.my-account form h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.my-account .woocommerce-address-fields__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.my-account form label {
  font-size: 0.8rem;
  font-weight: 500;
}
.my-account .required {
  color: crimson;
}
.my-account form .select2-selection__rendered {
  outline: none;
  border: solid 1px var(--clr1);
  border-radius: 0.2rem;
}
.my-account form .button {
  background-color: var(--clr2);
  color: var(--clr5);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
/* account details */
.my-account .woocommerce-EditAccountForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.my-account form fieldset {
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr2);
}
.my-account form legend {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
}
