/* ........................Blog Archive Page..................... */
#archiveBlog {
  padding-bottom: 2rem;
}
#archiveBlog .heading {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--clr2);
  margin-bottom: 1rem;
}
#archiveBlog .blogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* single blog card */
#archiveBlog .blog {
  background-color: var(--clr5);
  border-radius: 0.5rem;
  padding: 1rem;
}
#archiveBlog .blog-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
#archiveBlog .image_container {
  width: 100%;
  height: 100%;
  max-height: 12rem;
}
#archiveBlog .blog-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr2);
}
#archiveBlog .blog-date {
  font-size: 0.8rem;
  font-weight: 500;
}
#archiveBlog .blog-summary {
  font-size: 0.9rem;
}
#archiveBlog .blog-link {
  background-color: var(--clr3);
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.2rem;
  transition: 0.3s ease;
}
#archiveBlog .blog-link:hover,
#archiveBlog .blog-link:active,
#archiveBlog .blog-link:focus {
  background-color: var(--clr2);
  color: var(--clr5);
}

/* pagination */
#archiveBlog .pagination {
  margin-top: 1rem;
}
#archiveBlog .pagination .nav-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
#archiveBlog .pagination .page-numbers {
  font-size: 0.9rem;
  font-weight: 500;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s;
}
#archiveBlog .pagination .prev,
#archiveBlog .pagination .next {
  width: fit-content;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
}
#archiveBlog .pagination .current,
#archiveBlog .pagination .page-numbers:hover {
  background-color: var(--clr2);
  color: var(--clr5);
}

/* responsiveness */
@media only screen and (max-width: 768px) {
  #archiveBlog .row {
    flex-direction: column;
  }
}

/* ........................Single Blog Page..................... */
#singleBlog .blog-article {
  margin: 1rem 0;
}
#singleBlog .blog-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#singleBlog .blog-date {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--clr2);
}
#singleBlog .blog-banner {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
#singleBlog .blog-content {
  background-color: var(--clr5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
#singleBlog .blogContent h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0 0.3rem 0;
}
#singleBlog .blog-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.8rem 0 0.3rem 0;
}
#singleBlog .blog-content h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.3rem 0;
}
#singleBlog .blog-content h4,
#singleBlog .blog-content h5,
#singleBlog .blog-content h6 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.3rem 0;
}
#singleBlog .blog-content p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
