/* footer branding section */
#footerBranding {
  background-color: var(--clr2);
}
#footerBranding .col:last-child {
  flex: 2;
}
#footerBranding .title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--clr5);
}
#footerBranding .sub-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr3);
  margin-top: -1rem;
}
#footerBranding .description {
  font-size: 0.9rem;
  color: var(--clr3);
}
#footerBranding .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 !important;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr5);
  transition: ease 0.3s;
  background-color: transparent !important;
}
#footerBranding .button ion-icon {
  font-size: 1rem;
  color: var(--clr5);
}
#footerBranding .button:hover {
  gap: 1rem;
}
@media only screen and (max-width: 1024px) {
  #footerBranding .row {
    flex-direction: column;
  }
}

/* footer */
#footer {
  background-color: var(--clr5);
}
#footer .container {
  padding-top: 3rem;
}
#footer .heading {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
#footer .list {
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#footer .list span {
  font-weight: 500;
  text-transform: capitalize;
}
#footer .list li a {
  transition: 0.3s ease;
}
#footer .list li a:hover {
  color: var(--clr2);
}
#footer .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#footer .social ion-icon {
  font-size: 1.5rem;
  transition: 0.3s ease;
}
#footer .social .link:hover ion-icon {
  color: var(--clr2);
}
#footer .newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#footer .newsletter .email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: var(--border1);
  border-radius: var(--borderRadius1);
  padding: 0.5rem;
}
#footer .newsletter .email {
  font-size: 1.2rem;
}
#footer .newsletter .btn {
  font-size: 0.9rem;
}
#footer .newsletter .email input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
}
#footer .newsletter-message {
  font-size: 0.9rem;
  font-weight: 500;
}
#footer .newsletter-message.success {
  color: #658147;
}
#footer .newsletter-message.error {
  color: crimson;
}
#footer .para {
  font-size: 0.8rem;
}
#footer hr {
  margin-top: 3rem;
  border: var(--border1);
  opacity: 0.3;
}
#footer .copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1rem;
}
#footer .copyright .site-title,
#footer .copyright a {
  color: var(--clr2);
}

@media only screen and (max-width: 550px) {
  #footer .row {
    flex-direction: column;
    gap: 2rem;
  }
  #footer {
    margin-top: 0;
  }
  #footer .container {
    padding-top: 1rem;
  }
  #footer .para {
    text-align: center;
  }
  #footer hr {
    margin-top: 1rem;
  }
  #footer .copyright {
    padding-top: 0.5rem;
  }
}
