/* promotional popup */
/* Popup Container */
#promoPopup.promo-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Ensure scroll if content is long */
}
/* Popup Content */
#promoPopup .promo-content {
  background-color: var(--clr5);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 45rem;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}
/* Popup Image */
#promoPopup .promo-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}
/* Close Button */
#promoPopup .close-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(220, 20, 60, 0.5);
  transition: ease 0.3s;
}
#promoPopup .close-btn:hover,
#promoPopup .close-btn:active,
#promoPopup .close-btn:focus {
  background-color: crimson;
}
#promoPopup .close-btn ion-icon {
  color: var(--clr5);
}
#promoPopup .promo-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--clr2);
  margin-bottom: 1rem;
}
#promoPopup .promo-message strong {
  font-weight: 600;
}
#promoPopup .promo-button {
  margin-top: 1.5em;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
  transition: ease 0.2s;
  border: none;
  cursor: pointer;
  background-color: var(--clr3);
  color: var(--clr2);
}
#promoPopup .promo-button:hover,
#promoPopup .promo-button:active,
#promoPopup .promo-button:focus {
  background-color: var(--clr2);
  color: var(--clr5);
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* footer branding section */
#footerBranding {
  background-color: var(--clr2);
}
#footerBranding .col:last-child {
  flex: 2;
}
#footerBranding .title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--clr5);
}
#footerBranding .sub-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr3);
  margin-top: -1rem;
}
#footerBranding .description {
  font-size: 0.9rem;
  color: var(--clr3);
}
#footerBranding .button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 !important;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr5);
  transition: ease 0.3s;
  background-color: transparent !important;
}
#footerBranding .button ion-icon {
  font-size: 1rem;
  color: var(--clr5);
}
#footerBranding .button:hover {
  gap: 1rem;
}
@media only screen and (max-width: 1024px) {
  #footerBranding .row {
    flex-direction: column;
  }
}

/* footer */
#footer {
  background-color: var(--clr5);
}
#footer .container {
  padding-top: 3rem;
}
#footer .heading {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
#footer .list {
  list-style: none;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#footer .list span {
  font-weight: 500;
  text-transform: capitalize;
}
#footer .list li a {
  transition: 0.3s ease;
}
#footer .list li a:hover {
  color: var(--clr2);
}
#footer .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#footer .social ion-icon {
  font-size: 1.5rem;
  transition: 0.3s ease;
}
#footer .social .link:hover ion-icon {
  color: var(--clr2);
}
#footer .newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#footer .newsletter .email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: var(--border1);
  border-radius: var(--borderRadius1);
  padding: 0.5rem;
}
#footer .newsletter .email {
  font-size: 1.2rem;
}
#footer .newsletter .btn {
  font-size: 0.9rem;
}
#footer .newsletter .email input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
}
#footer .newsletter-message {
  font-size: 0.9rem;
  font-weight: 500;
}
#footer .newsletter-message.success {
  color: #658147;
}
#footer .newsletter-message.error {
  color: crimson;
}
#footer .para {
  font-size: 0.8rem;
}
#footer hr {
  margin-top: 3rem;
  border: var(--border1);
  opacity: 0.3;
}
#footer .copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1rem;
}
#footer .copyright .site-title,
#footer .copyright a {
  color: var(--clr2);
}

@media only screen and (max-width: 550px) {
  #footer .row {
    flex-direction: column;
    gap: 2rem;
  }
  #footer {
    margin-top: 0;
  }
  #footer .container {
    padding-top: 1rem;
  }
  #footer .para {
    text-align: center;
  }
  #footer hr {
    margin-top: 1rem;
  }
  #footer .copyright {
    padding-top: 0.5rem;
  }
}
