.carousel-item:hover img {
  transform: scale(0.75) !important;
}

/* hero section */
#hero .container {
  width: 100%;
  height: 80vh;
  max-height: 33rem;
  display: flex;
  gap: 1rem;
}
#hero .slider {
  width: 70%;
  height: 100%;
  position: relative;
}
#hero .slider .slick-list {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
#hero .slider .slick-track {
  width: 100%;
  height: 100%;
  gap: 1rem;
}
#hero .branding {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#hero .slider .image_container,
#hero .branding .image_container {
  width: 100%;
  height: 100%;
  border: solid 1px var(--clr3);
  transition: 0.3s ease;
}
#hero .slider .image_container img,
#hero .branding .image_container img {
  transform: scale(1);
}
#hero .slider .image_container:hover,
#hero .branding .image_container:hover,
#hero .slider .image_container:active,
#hero .branding .image_container:active,
#hero .slider .image_container:focus,
#hero .branding .image_container:focus {
  box-shadow: var(--boxShadow1);
}
#hero .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}
#hero .slick-prev:before {
  margin-right: -6rem;
}
#hero .slick-next:before {
  margin-left: -6rem;
}
#hero .slick-dots {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  #hero .container {
    flex-direction: column;
    height: auto;
    max-height: none;
    gap: 0;
  }
  #hero .slider {
    width: 100%;
    height: 25rem;
  }
  #hero .slider .slick-track {
    gap: 0.5rem;
  }
  #hero .branding {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  #hero .slider {
    height: 20rem;
  }
}

/* feature section */
#feature .row {
  width: 100%;
  justify-content: center;
}
#feature .card {
  width: 100%;
  background-color: var(--clr5);
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
#feature .card:hover,
#feature .card:active,
#feature .card:focus {
  box-shadow: var(--boxShadow1);
}
#feature .card ion-icon {
  font-size: 2rem;
  color: var(--clr2);
}
#feature .card .details {
  height: 100%;
  justify-content: flex-start;
  gap: 0.2rem;
}
#feature .card .heading {
  font-size: 0.9rem;
  font-weight: 500;
}
#feature .card .para {
  font-size: 0.8rem;
  font-weight: 300;
}
@media only screen and (max-width: 1170px) {
  #feature .row {
    gap: 0.5rem;
  }
  #feature .card {
    padding: 0.5rem;
  }
  #feature .card ion-icon {
    font-size: 1.8rem;
  }
  #feature .card .heading {
    font-size: 0.8rem;
  }
  #feature .card .para {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 940px) {
  #feature .row {
    gap: 1rem;
  }
  #feature .row1 {
    flex-direction: column;
  }
  #feature .card {
    padding: 0.5rem 1rem;
  }
  #feature .card ion-icon {
    font-size: 2rem;
  }
  #feature .card .heading {
    font-size: 0.9rem;
  }
  #feature .card .para {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 525px) {
  #feature .row {
    gap: 1rem;
  }
  #feature .row2 {
    flex-direction: column;
  }
  #feature .card {
    padding: 0.5rem 1rem;
  }
  #feature .card ion-icon {
    font-size: 2rem;
  }
  #feature .card .heading {
    font-size: 0.9rem;
  }
  #feature .card .para {
    font-size: 0.8rem;
  }
}

/* pupular categories section */

#popularCats img {
  height: 12rem !important;
}
#popularCats img:hover {
  transform: none;
}
#popularCats .carousel-item {
  position: relative;
  padding: 0;
  border: solid 1px var(--clr3);
}
#popularCats .carousel-item:hover,
#popularCats .carousel-item:active,
#popularCats .carousel-item:focus {
  box-shadow: var(--boxShadow1);
}
#popularCats .carousel-item img {
  transform: scale(1);
}
#popularCats .carousel-item:hover img {
  transform: scale(1.05) !important;
}
#popularCats .cat_name {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--clr5);
  padding: 0rem 0.4rem;
  border-radius: 0.2rem;
  border: solid 1px var(--clr3);
  box-shadow: var(--boxShadow1);
  transition: 0.3s ease;
}
#popularCats .carousel-item:hover .cat_name {
  background-color: var(--clr2);
  color: var(--clr5);
  border-color: var(--clr2);
}

/* cta */
#cta {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cta .cta-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(0.5);
}
#cta .content {
  width: 100%;
  max-width: 50rem;
  /* background-color: #0000004a; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
#cta .cta-heading {
  color: var(--clr3);
}
#cta .cta-para {
  color: var(--clr3);
  font-size: 1.1rem;
  font-weight: 500;
}
#cta .cta-button {
  background-color: var(--clr3);
  color: var(--clr2);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  transition: ease 0.2s;
}
#cta .cta-button:hover {
  background-color: var(--clr2);
  color: var(--clr3);
}
@media only screen and (max-width: 768px) {
  #cta .cta-heading {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #cta .cta-para {
    font-size: 0.9rem;
    font-weight: 400;
  }
  #cta .cta-button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
  }
}

/* category tabs section */
#categoryTabs .category-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#categoryTabs .category-tab {
  border: none;
  outline: none;
  background-color: var(--clr3);
  color: var(--clr2);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  transition: 0.2s ease;
  border-radius: 0.3rem;
  cursor: pointer;
}
#categoryTabs .category-tab:hover,
#categoryTabs .category-tab:active,
#categoryTabs .category-tab:focus {
  background-color: var(--clr2);
  color: var(--clr3);
}
#categoryTabs .category-tab.active {
  background-color: var(--clr2);
  color: var(--clr3);
}

/* tranform home section */
#transform {
  background-color: var(--clr2);
  box-shadow: var(--boxShadow1);
  padding: 3rem 0;
}
#transform .branding-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#transform .branding-title,
#transform .branding-description {
  color: var(--clr5);
}
#transform .cta-button {
  background-color: var(--clr5);
  color: var(--clr2);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: 0.3s ease;
}
#transform .cta-button:hover {
  background-color: var(--clr3);
}
#transform .image_container img {
  transform: scale(1);
}
@media only screen and (max-width: 1080px) {
  #transform {
    padding: 0;
  }
  #transform .row {
    flex-direction: column;
    gap: 2rem;
  }
}

/* testimonial section */
#customerTestimonials .carousel-item {
  margin-top: 3.5rem;
  overflow: visible;
  border-radius: 2.5rem 0 2.5rem 1rem;
}
#customerTestimonials .carousel-item:hover,
#customerTestimonials .carousel-item:active,
#customerTestimonials .carousel-item:focus {
  border-color: var(--clr3);
}
#customerTestimonials .image_container {
  position: absolute;
  top: -3rem;
  left: 0;
  z-index: 2;
  width: 100%;
  overflow: visible;
}
#customerTestimonials .testimonial-image {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 50%;
  border: solid 2px var(--clr2);
  background-color: var(--clr3);
  transform: scale(1) !important;
}
#customerTestimonials .testimonial-content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#customerTestimonials .testimonial-text {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  height: 7.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
#customerTestimonials .testimonial-name {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: right;
  color: var(--clr2);
}
#customerTestimonials .slick-prev,
#customerTestimonials .slick-next {
  display: none !important;
}

/* recent blog posts section */
#recentBlogs .post-link {
  width: 100%;
}
#recentBlogs .image_container {
  width: 100%;
  height: 10rem;
  border-radius: 0.3rem;
}
#recentBlogs .image_container img {
  transform: scale(1) !important;
}
#recentBlogs .post-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#recentBlogs .post-date {
  font-size: 0.7rem;
  font-weight: 400;
}
#recentBlogs .post-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr2);
  height: 2.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#recentBlogs .post-excerpt {
  font-size: 0.8rem;
  font-weight: 400;
  height: 3.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
